{
	"ignorePatterns": ["*.min.*", "node_modules/**/*", "*out*"],
	"plugins": ["react-refresh"],
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"rules": {
		"react-refresh/only-export-components": "warn",
		"prefer-template": "error"
	}
}
